[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "minval"]
	path = minval
	url = https://github.com/gibbslab/minval
	shallow = true
	registered = true
